<div class="card">
    <div class="header">
        <h4 class="title">Change Password</h4>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" id="password" class="form-control border-input" placeholder="Password" ng-model="user.password">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" id="conpassword" class="form-control border-input" placeholder="Confirm Password" ng-model="user.conpassword">
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success btn-fill btn-wd" id="btnsave" ng-click="changePassword()">Change Password</button>
            <button type="button" class="btn btn-danger btn-fill btn-wd" id="btncancel" onclick="window.location = '#/'" >Back</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>